{% macro photo_card(photo) %}
    <div class="photo-card card">
        <a class="card-thumbnail" href="{{ url_for('main.show_photo', photo_id=photo.id) }}">
            <img class="card-img-top portrait" src="{{ url_for('main.get_image', filename=photo.filename_s) }}">
        </a>
        <div class="card-body">
            <span class="oi oi-star"></span> {{ photo.collectors|length }}
            <span class="oi oi-comment-square"></span> {{ photo.comments|length }}
        </div>
    </div>
{% endmacro %}

{% macro searchbar(class) %}
    <div class="row">
        <div class="col-md-6">
            <h3>问卷列表</h3>
        </div>
        <div class="col-md-6">
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('main.search', search_type=class) }}">
                    <input type="text" name="q" class="form-control mr-sm-1" placeholder="搜索问卷"
                           required>
                    <button class="btn btn-light my-2 my-sm-0" type="submit">
                        <span class="oi oi-magnifying-glass"></span>
                    </button>
                </form>
        </div>
    </div>
{% endmacro %}

{% macro get_question_type(type) %}
    {% if type == 'rating' %}
        [评分]
    {% elif type == 'one choice'%}
        [单选]
    {% elif type == 'multiple choice'%}
        [多选]
    {% endif %}
{% endmacro %}


{% macro user_card(user) %}
    <div class="user-card text-center">
        <a href="{{ url_for('user.index', username=user.username) }}">
            <img class="rounded avatar-m" src="{{ url_for('main.get_avatar', filename=user.avatar_m) }}">
        </a>
        <h6>
            <a href="{{ url_for('user.index', username=user.username) }}">{{ user.name }}</a>
        </h6>
        {{ follow_area(user) }}
    </div>
{% endmacro %}


{% macro follow_area(user) %}
    {% if current_user.is_authenticated %}
        {% if user != current_user %}
            {% if current_user.is_following(user) %}
                <form class="inline" method="post"
                      action="{{ url_for('user.unfollow', username=user.username, next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-dark btn-sm">Unfollow</button>
                    {% if current_user.is_followed_by(user) %}
                        <p class="badge badge-light">Follow each other</p>
                    {% endif %}
                </form>
            {% else %}
                <form class="inline" method="post"
                      action="{{ url_for('user.follow', username=user.username, next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-primary btn-sm">Follow</button>
                    {% if current_user.is_followed_by(user) %}
                        <p class="badge badge-light">Follows you</p>
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}
    {% else %}
        <form class="inline" method="post"
              action="{{ url_for('user.follow', username=user.username) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-primary btn-sm">Follow</button>
        </form>
    {% endif %}
{% endmacro %}
