{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/nav.html' import render_nav_item %}

<div class="nav nav-pills flex-column" role="tablist" aria-orientation="vertical">
                {{ render_nav_item('user.edit_profile', 'Edit Profile') }}
                {{ render_nav_item('user.change_avatar', 'Change Avatar') }}
                {{ render_nav_item('user.change_password', 'Change Password') }}
                {{ render_nav_item('user.change_email_request', 'Change Email') }}
                {{ render_nav_item('user.notification_setting', 'Notification') }}
                {{ render_nav_item('user.privacy_setting', 'Privacy') }}
                {{ render_nav_item('user.delete_account', 'Delete Account') }}
</div>
{#<div class="card bg-light mb-3 w-100">#}
{#    <div class="list-group">#}
{#        <a class="list-group-item" href="{{ url_for('.index') }}">#}
{#        </a>#}
{#        <a class="list-group-item" href="{{ url_for('.show_tag', tag_id=tag.id) }}">{{ tag.name }}#}
{#        </a>#}
{#        <a class="list-group-item" href="{{ url_for('.show_tag', tag_id=tag.id) }}">{{ tag.name }}#}
{#        </a>#}
{#        <a class="list-group-item" href="{{ url_for('.show_tag', tag_id=tag.id) }}">{{ tag.name }}#}
{#        </a>#}
{#        <a class="list-group-item" href="{{ url_for('.show_tag', tag_id=tag.id) }}">{{ tag.name }}#}
{#            <span class="badge badge-pill">{{ tag.photos|length }}</span>#}
{#        </a>#}
{#    </div>#}
{#</div>#}
