{% extends 'base.html' %}

{% block title %}填写问卷{% endblock %}

{% block styles %}
    {{ super() }}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/survey.css') }}" type="text/css" />#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modern.css') }}" type="text/css" />
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div id="surveyContainer">
        <div id="fillinElement" data-id="{{ survey.id }}"></div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{#    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript" ></script>#}
    <script src="{{ url_for('static', filename='js/survey.jquery.min.js') }}" type="text/javascript" ></script>
    <script src="{{ url_for('static', filename='js/survey_fillin.js') }}" type="text/javascript" ></script>
{% endblock %}
{% block footer %}
{% endblock %}